!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Nexalogy Graphics Visualization Application
    %meta{'http-equiv' => 'Content-Type', 'content' => "text/html;charset=UTF-8"}
    
    %script{:src => "/javascripts/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.gritter.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery-ui-1.8.4.custom.min.js",:type => "text/javascript"}
    %script{:src => "/javascripts/protovis/protovis-r3.3.js", :type => "text/javascript"}
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    %script{:src => "/javascripts/50_node.js", :type => "text/javascript"}
    %script{:src => "/javascripts/200_node.js", :type => "text/javascript"}
    
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/screen.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Inconsolata"}
  %body
    #root
      .two-col
        #header
          %button.light{:id => "show-protovis50"} 50 Node
          %button.light{:id => "show-protovis200"} 200 Node
          %button.light{:id => "show-sentiments"} Sentiments
          %button.light{:id => "tone-analysis"} Tone Analysis
          %button.light{:id => "json2MySQL"} JSON 2 MySQL
          #loading
            %img{:src => "/images/ajax-loader.gif"}
        =yield
      #root_footer
    #footer &copy; 2010 Nexalogy

